
<h1>Rails First Applcation</h1>


<body>
	<table border="1">
		<tr>
		    <th><font color="blue">User Image</font></th>
			<th><font color="blue">First Name</th>

			<th><font color="blue">Middle Name</th>

			<th><font color="blue">Last Name</th>

			<th><font color="blue">Mobile No</th>

			<th><font color="blue">Button</th>

		</tr>
		<tr>

		<td><%=image_tag("two.jpeg")%></td>
			<td>Prakash</td>
			<td>B</td>
			<td>Chaudhary</td>
			<td>9662402742</td>
			<td><input type="submit" value="Register" width=120px></td>
		</tr>
		<tr>
			<td>Gautam</td>
			<td>M</td>
			<td>Moradiya</td>
			<td>999645668</td>
			<td><input type="submit" value="Register"></td>
		</tr>
	</table>
</body>
